<!DOCTYPE html>
<html lang="en">

  <head></head>

  <header>
    {% render 'header' %}

  </header>

  <body>
    <main>
      {{ content }}

    </main>
  </body>

  <footer>
    {% render 'footer' %}
  </footer>
</html>